:root {
  --color-focus: #ffde59;
  --color-dark-tone: #333652;
  --color-neutral-tone: #90adc6;
  --color-light-tone: #eff6ff;
}

* {
  font-family: "Open Sans", sans-serif;
}

/*Hero an bubbles*/
header {
  background-color: var(--color-neutral-tone);
  width: 100%;
  aspect-ratio: 5/2;
  min-width: 320px;
  min-height: 30vh;
  max-height: 50vh;
  position: relative;
  overflow: hidden;
}
.bubble {
  border-radius: 100%;
  height: 25%;
  aspect-ratio: 1/1;
}

.light-bubble {
  background-color: var(--color-light-tone);
}

.color-bubble {
  background-color: var(--color-focus);
}

.big-bubble {
  background-color: var(--color-dark-tone);
  height: 125%;
  position: absolute;
  translate: -50% -50%;
  top: 50%;
  left: 50%;

  * {
    position: absolute;
  }
  h2:nth-child(1) {
    font-size: clamp(1.8rem, 5.5vw, 6rem);
    font-weight: 700;
    color: var(--color-dark-tone);
    left: -19%;
    top: 15%;
  }
  .light-bubble {
    right: -22%;
    top: 12%;
  }
  .color-bubble {
    top: 63%;
    left: -22%;
  }
  p {
    color: var(--color-neutral-tone);
    font-size: clamp(0.7rem, 2.7vw, 3rem);
    top: 22%;
  }
  h1 {
    color: var(--color-light-tone);
    font-size: clamp(1.2rem, 5vw, 4rem);
    font-weight: 700;
    top: 30%;
  }
  p,
  h1 {
    left: 10%;
  }
  .job-title {
    color: var(--color-focus);
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: clamp(1.1rem, 3vw, 4rem);
    text-wrap: nowrap;
    top: 60%;
    right: 5%;
  }
}
/* About me section */
section.about-me {
  background-color: var(--color-light-tone);

  h2 {
    color: var(--color-dark-tone);
    font-size: 2.8rem;
    font-weight: 700;
  }

  .subtitle {
    color: #90adc6;
    font-size: clamp(0.9rem, 2.5vh, 2rem);
  }
  h3 {
    color: var(--color-dark-tone);
    font-weight: 700;
    font-size: clamp(1.6rem, 4.5vh, 4rem);
  }
  .card {
    background-color: var(--color-neutral-tone);
    border-radius: 10px;
    margin-top: 5vh;
  }
  .color-bubble {
    padding: clamp(0.3rem, 1vw, 0.5rem);
    height: fit-content;
  }
  img {
    border-radius: 50%;
    height: clamp(2rem, 14vw, 5rem);
    aspect-ratio: 1/1;
  }
  p {
    color: var(--color-dark-tone);
    font-size: clamp(1rem, 1.1vw, 1.3rem);
  }
}
/*Display layout change beyond phone screen*/
@media (min-width: 550px) {
  .card-about {
    flex-direction: row;
    align-items: center;
    p {
      text-align: left;
      margin-left: 5px;
      margin-bottom: 0;
    }
  }
}
/* Hobbies section */

section.hobbies {
  background-color: var(--color-dark-tone);
  h2 {
    color: var(--color-neutral-tone);
    font-weight: 700;
    font-size: 2.8rem;
  }
  .color-card {
    background-color: var(--color-focus);
  }
  img {
    aspect-ratio: 1/1;
    height: clamp(7rem, 14vw, 12rem);
    border-radius: 10px;
  }
  .text-box {
    background-color: var(--color-light-tone);
    border-radius: 10px;
    padding: 4px;
    height: 100%;
    display: flex;
    p {
      margin-bottom: 0;
      align-content: center;
    }
  }
}
@media (min-width: 550px) {
  .color-card {
    margin-left: 15px;
  }
  .color-card:nth-child(1) {
    margin-left: -15px;
  }
  .color-card:nth-child(3) {
    margin-right: -15px;
  }
}
/* Contact section */

section.contact-me {
  background-color: var(--color-neutral-tone);
  color: var(--color-dark-tone);
}
h2 {
  font-weight: 700;
  font-size: 2.8rem;
  text-wrap: nowrap;
}
h3 {
  font-weight: 700;
  font-size: 1.1rem;
}
h4 {
  font-weight: 400;
}
.list {
  display: flex;
  margin-left: 1px;
}
ul {
  list-style-position: inside;
  text-align: left;
}
li {
  font-weight: 400;
  font-size: 1rem;
}
.btn {
  background-color: var(--color-focus);
}
.mail-me {
  color: var(--color-dark-tone);
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  text-decoration: none;
}

/* Footer */

footer {
  background-color: var(--color-focus);
  a {
    color: var(--color-dark-tone);
    font-weight: 700;
    font-size: 0.8rem;
    text-decoration: none;
  }
  p {
    color: var(--color-dark-tone);
    margin-bottom: 0;
    font-size: 0.6rem;
  }
}
